<div class="row">
  <div class="text-center span12">
    <h1><%= @game.title %> <small>A battle for supremacy</small></h1>
  </div>
</div>

<div class="row">
  <div class="offset4 span4">
    <div class="input-append">
      <input class="span2" id="appendedInputButton" type="text">
      <button class="btn" type="button">Go!</button>
    </div>
  </div>
</div>
